{% extends "core/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block robots %}
<meta name="robots" content="all, index, follow">
{% endblock robots %}

{% block page_css %}
{% render_bundle 'home' 'css' %}
{% endblock page_css %}

{% block page_js %}
{% render_bundle 'home' 'js' %}
{% endblock page_js %}

{% block page_content %}
<div id="home">
    <h2 class="title">
        <span class="icon-text">
            <span class="icon">
                <i class="{{ object.icon }}"></i>
            </span>
            <span class="ml-2">{{ object.title }}</span>
        </span>
    </h2>

    <section class="section">
        <h3 class="is-size-3 has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                <span class="ml-2">Dashboard</span>
            </span>
        </h3>
        <br>

        <div class="box">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-link">
                                <span class="icon">
                                    <i class="fas fa-cogs"></i>
                                </span>
                                <span>Initiatives</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_initiatives }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-primary">
                                <span class="icon">
                                    <i class="fas fa-cog"></i>
                                </span>
                                <span>Features</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_features }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-info">
                                <span class="icon">
                                    <i class="fas fa-book"></i>
                                </span>
                                <span>Epics</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_epics }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-success">
                                <span class="icon">
                                    <i class="fas fa-bookmark"></i>
                                </span>
                                <span>Stories</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_stories }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-danger">
                                <span class="icon">
                                    <i class="fas fa-bug"></i>
                                </span>
                                <span>Bugs</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_bugs }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-dark">
                                <span class="icon">
                                    <i class="fas fa-tasks"></i>
                                </span>
                                <span>Tasks</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_tasks }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Story points</p>
                        <p class="title">{{ object.total_story_points }}</p>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <section class="section">
        <h3 class="is-size-3 has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-map-signs"></i>
                </span>
                <span class="ml-2">Product Roadmap</span>
            </span>
        </h3>
        <table class="table is-fullwidth is-hoverable">
            {% for initiative in object.initiatives.all %}
            <thead>
                <tr>
                    <th colspan="4">
                        <span class=has-text-grey-lighter>
                            <span class="icon">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </span>
                        {% include "projects/item/full_title.html" with item=initiative %}
                    </th>
                    <th class="has-text-right" width="30%">
                        {% include "projects/item/progress.html" with item=initiative %}
                    </th>
                    <td class="has-text-centered">
                        {% include "projects/item/points_tag.html" with item=initiative %}
                    </td>
                    <th class="has-text-centered" width="3%">
                    </th>
                    <th class="has-text-centered" width="3%">
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for feature in initiative.features.all %}
                <tr>
                    <td></td>
                    <td colspan="3">
                        {% if feature.epics.all %}
                        <span class="expand-button" data-target="feature_{{ feature.id }}">
                            <span class="icon">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </span>
                        {% else %}
                        <span class="has-text-grey-lighter">
                            <span class="icon">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </span>
                        {% endif %}
                        {% include "projects/item/full_title.html" with item=feature %}
                    </td>
                    <td class="has-text-right">
                        {% include "projects/item/progress.html" with item=feature %}
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/points_tag.html" with item=feature %}
                    </td>
                    <td class="has-text-centered">
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/priority_tag.html" with item=feature %}
                    </td>
                </tr>
                {% for epic in feature.epics.all %}
                <tr class="feature_{{ feature.id }} is-hidden">
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        {% if epic.issues.all %}
                        <span class="expand-button" data-target="epic_{{ epic.id }}">
                            <span class="icon">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </span>
                        {% else %}
                        <span class="has-text-grey-lighter">
                            <span class="icon">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </span>
                        {% endif %}
                        {% include "projects/item/full_title.html" with item=epic %}
                    </td>
                    <td class="has-text-right">
                        {% include "projects/item/progress.html" with item=epic %}
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/points_tag.html" with item=epic %}
                    </td>
                    <td class="has-text-centered">
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/priority_tag.html" with item=epic %}
                    </td>
                </tr>

                {% for issue in epic.issues.all %}
                <tr class="epic_{{ epic.id }} is-hidden">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="has-text-grey-lighter">
                            <span class="icon">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </span>
                        {% include "projects/item/full_title.html" with item=issue %}
                    </td>
                    <td class="has-text-right">
                        {% for skill in issue.skills.all %}
                        <span class="tag is-rounded">{{ skill.title }}</span>
                        {% endfor %}
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/points_tag.html" with item=issue %}
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/status_tag.html" with item=issue %}
                    </td>
                    <td class="has-text-centered">
                        {% include "projects/item/priority_tag.html" with item=issue %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </tbody>
            {% endfor %}
        </table>
    </section>

    <section class="section">
        <h3 class="is-size-3 has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-table"></i>
                </span>
                <span class="ml-2">Sprint</span>
            </span>
        </h3>
        <br>
        <div class="columns is-8 is-variable">
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-tags"></i>
                        </span>
                        <span class="ml-2">To Do</span>
                    </span>
                </h3>
                <hr>
                {% for issue in object.issues %}
                {% if issue.status == issue.TO_DO %}
                <div class="box">
                    <span class="icon-text has-text-{{ issue.color }}">
                        <span class="icon">
                            <i class="{{ issue.icon }}"></i>
                        </span>
                        <span>{{ issue.title }}</span>
                    </span>
                    <p>{{ issue.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-tags"></i>
                        </span>
                        <span class="ml-2">In Progress</span>
                    </span>
                </h3>
                <hr>
                {% for issue in object.issues %}
                {% if issue.status == issue.IN_PROGRESS %}
                <div class="box">
                    <span class="icon-text has-text-{{ issue.color }}">
                        <span class="icon">
                            <i class="{{ issue.icon }}"></i>
                        </span>
                        <span>{{ issue.title }}</span>
                    </span>
                    <p>{{ issue.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-tags"></i>
                        </span>
                        <span class="ml-2">In Review</span>
                    </span>
                </h3>
                <hr>
                {% for issue in object.issues %}
                {% if issue.status == issue.IN_REVIEW %}
                <div class="box">
                    <span class="icon-text has-text-{{ issue.color }}">
                        <span class="icon">
                            <i class="{{ issue.icon }}"></i>
                        </span>
                        <span>{{ issue.title }}</span>
                    </span>
                    <p>{{ issue.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-tags"></i>
                        </span>
                        <span class="ml-2">Done</span>
                    </span>
                </h3>
                <hr>
                {% for issue in object.issues %}
                {% if issue.status == issue.DONE %}
                <div class="box">
                    <span class="icon-text has-text-{{ issue.color }}">
                        <span class="icon">
                            <i class="{{ issue.icon }}"></i>
                        </span>
                        <span>{{ issue.title }}</span>
                    </span>
                    <p>{{ issue.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock page_content %}
