{% extends "core/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block robots %}
<meta name="robots" content="all, index, follow">
{% endblock robots %}

{% block page_css %}
{% render_bundle 'home' 'css' %}
{% endblock page_css %}

{% block page_js %}
{% render_bundle 'home' 'js' %}
{% endblock page_js %}

{% block page_content %}
<div id="home">
    <h2 class="title">
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span class="ml-2">{{ object.title }}</span>
        </span>
    </h2>

    <section class="section">
        <h3 class="is-size-3 has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                <span class="ml-2">Dashboard</span>
            </span>
        </h3>
        <br>

        <div class="box">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-link">
                                <span class="icon">
                                    <i class="fas fa-cloud"></i>
                                </span>
                                <span>Initiatives</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_initiatives }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-info">
                                <span class="icon">
                                    <i class="fas fa-book"></i>
                                </span>
                                <span>Epics</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_epics }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-success">
                                <span class="icon">
                                    <i class="fas fa-bookmark"></i>
                                </span>
                                <span>Stories</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_stories }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-danger">
                                <span class="icon">
                                    <i class="fas fa-bug"></i>
                                </span>
                                <span>Bugs</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_bugs }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-primary">
                                <span class="icon">
                                    <i class="fas fa-tag"></i>
                                </span>
                                <span>Features</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_features }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            <span class="icon-text has-text-link">
                                <span class="icon">
                                    <i class="fas fa-user-tag"></i>
                                </span>
                                <span>Skills</span>
                            </span>
                        </p>
                        <p class="title">{{ object.total_skills }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Story points</p>
                        <p class="title">{{ object.total_story_points }}</p>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <section class="section">
        <h3 class="is-size-3 has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-tasks"></i>
                </span>
                <span class="ml-2">Backlog</span>
            </span>
        </h3>
        <br>

        <table class="table is-fullwidth is-hoverable">
            {% for initiative in object.initiatives.all %}
            {% if not initiative.is_auto %}
            <thead>
                <tr>
                    <th>
                        <span class="icon has-text-{{ initiative.color }}">
                            <i class="{{ initiative.icon }}"></i>
                        </span>
                    </th>
                    <th>
                        <span class="has-text-{{ initiative.color }}">{{ initiative.title }}</span>
                    </th>
                    <th width="20%"></th>
                    <th width="25%">Epics / Features / Skills</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in initiative.issues %}
                {% include 'projects/element/issue.html' %}
                {% endfor %}
            </tbody>
            {% endif %}
            {% endfor %}

            {% for initiative in object.initiatives.all %}
            {% if initiative.is_auto %}
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">unclassified...</th>
                    <th>Epics / Features / Skills</th>
                </tr>
            </thead>

            <tbody>
                {% for issue in initiative.issues %}
                {% include 'projects/element/issue.html' %}
                {% endfor %}
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </section>

    <section class="section">
        <div class="columns is-8 is-variable">
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-tag"></i>
                        </span>
                        <span class="ml-2">Features</span>
                    </span>
                </h3>
                <hr>
                {% for feature in object.features.all %}
                <div class="box">
                    <span class="icon-text has-text-{{ feature.color }}">
                        <span class="icon">
                            <i class="{{ feature.icon }}"></i>
                        </span>
                        <span>{{ feature.title }}</span>
                    </span>
                    <p>{{ feature.description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-user-tag"></i>
                        </span>
                        <span class="ml-2">Skills</span>
                    </span>
                </h3>
                <hr>
                {% for skill in object.skills.all %}
                <div class="box">
                    <span class="icon-text has-text-{{ skill.color }}">
                        <span class="icon">
                            <i class="{{ skill.icon }}"></i>
                        </span>
                        <span>{{ skill.title }}</span>
                    </span>
                    <p>{{ skill.description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-book"></i>
                        </span>
                        <span class="ml-2">Epics</span>
                    </span>
                </h3>
                <hr>
                {% for epic in object.epics %}
                {% if not epic.is_auto %}
                <div class="box">
                    <span class="icon-text has-text-{{ epic.color }}">
                        <span class="icon">
                            <i class="{{ epic.icon }}"></i>
                        </span>
                        <span>{{ epic.title }}</span>
                    </span>
                    <p>{{ epic.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="far fa-check-square"></i>
                        </span>
                        <span class="ml-2">Definition of Done</span>
                    </span>
                </h3>
                <hr>
                <div class="box">
                    <br>
                </div>
                <br>
                <h3 class="is-size-4 has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="far fa-check-square"></i>
                        </span>
                        <span class="ml-2">Definition of Ready</span>
                    </span>
                </h3>
                <hr>
                <div class="box">
                    <br>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock page_content %}
