{% load i18n %}
<div class="modal" id="{{ item.shortcut }}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon-text has-text-{{ item.color }}">
                    <span class="icon">
                        <i class="{{ item.icon }}"></i>
                    </span>
                    <span>[#{{ item.shortcut }}]</span>
                </span>
            </p>
            <button class="delete modal-button" aria-label="close" data-target="{{ item.shortcut }}"></button>
        </header>
        <section class="modal-card-body">
            <h2 class="is-size-4">{{ item.title }}</h2>
            <br>
            {% if item.description %}
            <p class="is-italic has-text-weight-bold">Description:</p>
            <div class="content">{{ item.description_html|safe }}</div>
            <br>
            {% endif %}

            {% if item.subtasks.all %}
            <p class="is-italic has-text-weight-bold">Subtasks:</p>
            <br>
            <ul>
                {% for subtask in item.subtasks.all %}
                <li>
                    <span class="icon-text has-text-{{ subtask.color }}">
                        <span class="icon">
                            <i class="{{ subtask.icon }}"></i>
                        </span>
                        <span>{{ subtask.title }}</span>
                    </span>
                </li>
                {% endfor %}
            </ul>
            <br>
            {% endif %}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ item.get_edit_url }}" class="button is-success" target="_blank">{% trans 'Change' %}</a>
            <button class="button modal-button" data-target="{{ item.shortcut }}">{% trans 'Close' %}</button>
        </footer>
    </div>
</div>
